#root {
    /* max-width: 1200px; */
    background:linear-gradient(to left, green, white);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100vw;
  }

  .image{
    margin-bottom: 15px;
  }
  
  